* {
    /** definismos los atributos generales**/
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/** inicio de cabecera**/

.padre {
    background-color: cadetblue;
    font-size: 27px;
    display: flex;
    align-items: center;
}

.padre li {
    list-style: none;
}

.nav li a {
    color: black;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    align-items: center;
}

.nav>li {
    float: left;
    /** alineamos los elemnetos li**/
}

.nav li:hover {
    background-color: darkorange;
    transition: all .3s;
}

.nav li>a:hover {
    color: white;
}

.A {
    margin: 0 20px 0;
}

.B {
    align-items: center;
}

.nav li ul {
    display: none;
    /**  desaparece los subnemus presentes en la clase nav **/
    position: absolute;
}

.nav li:hover>ul {
    display: block;
}


/** AQUI ACABA LA CABECERA**/


/** inicio de sesion**/

#inicio_sesion {
    background-image: url(logotipos/can.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: sans-serif;
    background-attachment: fixed;
}

.login {
    width: 320px;
    height: 500px;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login h1 {
    padding: 0 0 20px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.login label {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.login input {
    width: 99%;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
    border: none;
    border-bottom: 2px soliD white;
    background: transparent;
    outline: none;
    /*  elinima los bordes */
    font-size: 18px;
    height: 50px;
    color: white;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    background-color: white;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
    color: black;
}

.login input[type="submit"]:hover {
    color: white;
    background-color: darksalmon;
}

.login a {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    margin: 10px 10px;
    color: white;
}

.login a:hover {
    color: grey;
}


/** AQUI ACABA EL INICIO DE SESION**/


/** Registro de usuario**/

#registro_usuario {
    background-image: url(logotipos/can.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: sans-serif;
    background-attachment: fixed;
}

.registrar {
    width: 450px;
    height: auto;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -45%);
    box-sizing: border-box;
}

.registrar h1 {
    padding: 0 0 15px;
    text-align: center;
    color: black;
    font-size: 40px;
}

.registrar label {
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.nombres {
    display: inline;
}

.registrar input {
    width: 100%;
    margin-bottom: 20px;
}

.registrar input[type="text"],
.registrar input[type="password"],
.registrar input[type="numero"],
.registrar input[type="date"] {
    border: none;
    border-bottom: 2px soliD white;
    background: transparent;
    outline: none;
    font-size: 17px;
    height: 30px;
    color: white;
}

.registrar input[type="submit"] {
    border: none;
    outline: none;
    background-color: white;
    height: 35px;
    font-size: 18px;
    border-radius: 15px;
}

.registrar input[type="submit"]:hover {
    color: white;
    background-color: darksalmon;
}


/** AQUI ACABA REGISTRO DE USUARIO**/


/** pie de pagina**/

.container-padre {
    background-color: rgb(37, 37, 37);
    color: white;
}

.container-padre h1 {
    font-size: 27px;
}

.container {
    display: flex;
}

.info {
    width: 400px;
}

.redes {
    width: 400px;
}

.contacto {
    width: 400px;
}

.patrocinadores {
    width: 400px;
}

.redes div {
    margin-top: 20px;
}

.redes a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.redes a:hover {
    color: darkgrey;
}

.redes a img {
    margin: 10px 10px;
}

.contacto label {
    display: flex;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:hover {
    color: darkgrey;
}

.pie {
    display: flex;
    align-items: center;
}


/** AQUI ACABA PIE DE PAGINA**/


/**ADOPTAR MASCOTAS**/

#contenedor {
    flex-flow: row nowrap;
    width: 100%;
    padding: 0px 50px;
}

.parte {
    width: 50%;
}


/**CIERRE DE ADOPTAR MASCOTAS**/